.loader {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.error {
  text-align: center;
  font-size: 16px;
  color: #ff0000;
  margin-bottom: 20px;
}

.content {
  margin-top: 50px;
  margin-left: 200px;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.list li:hover:not(.active) {
  background-color: #111;
}

.list li:hover:not(.active) {
  background-color: #dbcccc;
}
