.error {
  text-align: center;
  font-size: 16px;
  color: #ff0000;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  width: 10em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
