.loader {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.error {
  text-align: center;
  font-size: 16px;
  color: #ff0000;
  margin-bottom: 20px;
}

.dataList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dataItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-top: 20px;
}

.name {
  flex: 1;
}

.status {
  flex: 1;
  text-align: right;
}
